/*
GENERAL CSS,
HEADER,
FOOTER,
CONTENT SCROLLING
*/

header, footer {
	background-color: green;
	z-index: 999;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
}
#wrapper {
	min-height: 100%;
	position: relative;
	width: 100%;
}
footer {
	width: 100%;
	height: 120px;
	position: absolute;
	bottom: 0;
	left: 0;
}
#LeftAlignedFooter {
	padding-left: 3%;
	margin-top: 1%;
	width: 20%;
	float: left;
}
#RightAlignedFooter {
	padding-right: 3%;
	margin-top: 1%;
	width: 25%;
	float: right;
	text-align: right;
}
header {
	position: fixed;
	top: 0px;
	left: 0px;
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width: 100%;
}
h1 {
	font-size: 200%;
}
* {
	font-family: sans-serif;
}
#main {
	position: relative;
	margin: 0 auto;
	float: center;
	width: 90%;
	padding-bottom: 120px;
	padding-top: 90px;
}
#MoveTheHeading {
	padding-left: 2%;
}
#MoveTheHeading img, h1 {
	white-space: nowrap;
}
h1 a {
	color: black;
	text-decoration: none;
}

/*HOME PAGE SPECIFIC*/

table {
	width: 100%;
}
table, th, td {
	border: 3px solid green;
	border-collapse: collapse;
}
#ImagePart {
	width: 20%;
	padding: 0 30px;
}
#CenterLeftTable {
	margin: 0 auto;
	text-align: center;
}
/*PROJECT PAGE SPECIFIC*/

#Descriptionpic {
	max-height: 200px
}
code {
	background-color: lightgreen;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
	font-size: 18px;
	padding: 0px 10px 0 10px;
}
/*THESE LAST 2 MAKE SAME PAGE LINKS WORK RIGHT AROUND THE HEADER*/

h2 {
	position: relative;
}
h2 span {
	position: absolute;
	top: -80px;
}
